@model IEnumerable<ATL_WebUI.Models.SQL.Message>

@{
    ViewData["Title"] = "List Messages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Messages</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
        </tr>
}
    </tbody>
</table>
