@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hr />
<h4 class="m-0 font-weight-bold text-primary">User Role</h4><hr /><hr />
<div class="col-md-6 mb-6">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="col-md-12">
                <table class="table table-light">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }
                </table>
                <hr />
                <p>@Html.ActionLink("Add Role", "Create", "Role", null, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
</div>
