
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="jumbotron">
                        <h2 class="display-4 text-center">ATL-FF</h2>
                        <p class="lead text-center">
                            Our specialist event logistics division provide logistical solutions worldwide including
                            customs clearance, transportation, onsite handling and advance warehousing. Today ATL-FF manage and coordinate
                            event logistics in over 28 countries across multiple industries.
                        </p>
                        <hr class="my-4">
                        <p class="text-center text-danger">
                            From single machine moves to complete factory relocation services, ATL-FF Ireland offer the skills,
                            track record and peace of mind for all high-value or delicate capital equipment moves.
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card shadow mb-5" style="width: 20rem;">
                <img src="~/img/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card shadow mb-5" style="width: 20rem;">
                <img src="~/img/2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card shadow mb-5" style="width: 20rem;">
                <img src="~/img/3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

