
@{
    ViewData["Title"] = "Guest";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="jumbotron">
                    <h2 class="display-4 text-center">Advanced Transport and Logistics  Freight Forwarding</h2>
                    <p class="lead text-center">Our specialist event logistics division provide logistical solutions worldwide including 
                    customs clearance, transportation, onsite handling and advance warehousing. Today ATL-FF manage and coordinate
                    event logistics in over 28 countries across multiple industries.</p>
                    <hr class="my-4">
                    <p>From single machine moves to complete factory relocation services, ATL-FF Ireland offer the skills,
                    track record and peace of mind for all high-value or delicate capital equipment moves.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Logistics</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Container Maintenance<span class="float-right">27%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Empty Returns <span class="float-right">44.5%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 44.5%" aria-valuenow="44.5" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">New Customers <span class="float-right">68.1%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 68.1%" aria-valuenow="68.1" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Optimise Routes <span class="float-right">81%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Customer Satisfaction <span class="float-right">Complete!</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

