
@{
    ViewData["Title"] = "Page Unauthorise";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Oops! Page Unauthorize</h3>
                <h1><span>4</span><span>0</span><span>1</span></h1>
            </div>
            <h2>Sorry, but the page you requested is under policy-base authorization</h2>
        </div>
    </div>

