@model IEnumerable<ATL_WebUI.Models.SQL.Detail>

@{
    ViewData["Title"] = "List Cargo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>List Shipments</h1>

<p>
    <a asp-action="Create">Add Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Shipment Id
            </th>
            <th>
                Container Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shipment_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
