@model ATL_WebUI.Models.SQL.Shipment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shipment_Id" />
            <div class="form-group">
                <label asp-for="Customer_Id" class="control-label"></label>
                <input asp-for="Customer_Id" class="form-control" />
                <span asp-validation-for="Customer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Id" class="control-label"></label>
                <input asp-for="Employee_Id" class="form-control" />
                <span asp-validation-for="Employee_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_From_Id" class="control-label"></label>
                <input asp-for="Address_From_Id" class="form-control" />
                <span asp-validation-for="Address_From_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_To_Id" class="control-label"></label>
                <input asp-for="Address_To_Id" class="form-control" />
                <span asp-validation-for="Address_To_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_Date" class="control-label"></label>
                <input asp-for="Created_Date" class="form-control" />
                <span asp-validation-for="Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure_Date" class="control-label"></label>
                <input asp-for="Departure_Date" class="form-control" />
                <span asp-validation-for="Departure_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival_Date" class="control-label"></label>
                <input asp-for="Arrival_Date" class="form-control" />
                <span asp-validation-for="Arrival_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Price" class="control-label"></label>
                <input asp-for="Total_Price" class="form-control" />
                <span asp-validation-for="Total_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route_Id" class="control-label"></label>
                <input asp-for="Route_Id" class="form-control" />
                <span asp-validation-for="Route_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
